.header {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.header-block {
  display: flex;
}

.header-link {
  display: block;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  padding: 1rem 2rem 1rem 2rem;
}

.header-link {
  text-decoration: none;
}
.header-link:link, .header-link:visited {
  color: #444444;
}

.header-link.header-link-active:link, .header-link.header-link-active:visited {
  color: #CA000E;
}

.header-link:hover {
  color: #438496;
}

.header-link:active {
  color: #CA000E;
}

.right-nav {
  display: none;
}

.dir-nav {
  display: flex;
}

@media (min-width: 1100px){
  .right-nav {
    list-style-type: none;
    display: flex;
    margin: 0;
  }

  .dir-nav {
    display: none;
  }
}