.roster-details {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
}

.roster-details-title {
  margin-top: 1rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-variant: small-caps;
  font-weight: 700;
}

.roster-details-body {
  display: flex;
  flex: 1 0 0;
}

@media(min-width: 1100px) {
  .roster-details-body {
    flex-direction: column;
    justify-content: center;
  }

  .roster-details-screenshot {
    max-width: 100%;
  }

  .roster-details-screenshot img {
    max-width: 100%;
  }
}

.roster-details-screenshot-wrapper {
  position: relative;
  margin: 1rem;
  border-radius: 10px;
  overflow: hidden;
}

.roster-details-screenshot {
  border-radius: 10px;
  height: 100%;
  max-height: 100%;
  display: inline-block;
  position: relative;
  right: -50%;
}

.roster-details-screenshot img {
  border-radius: 10px;
  max-height: 100%;
  position: relative;
  left: -50%;
}