.roster-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  background-color: #444;
  overflow: hidden;
}

.roster-card:hover {
  cursor: pointer;
  background-color: #666;
}

.roster-image-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  overflow: hidden;
  width: 1.5rem;
  height: 1.75rem;
}

.roster-image-wrapper-left {
  border-radius: 0 1rem 1rem 0;
}

.roster-image-wrapper-right {
  border-radius: 1rem 0 0 1rem;
}

.roster-image {
  width: 1.25rem;
  height: 1.25rem;
}

.roster-text {
  flex: 1 0 0;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}