.roster {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
}

.roster-block {
  display: flex;
  justify-content: space-between;
}

.roster-grid {
  overflow: hidden;
  border-radius: 10px;
  margin: 0 1rem;
}

.roster-title {
  margin: 0 1rem 0.25rem 1rem;
}

.roster-title h1 {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.roster-title h2 {
  margin: 0.25rem 0;
  font-size: 0.8rem;
  font-weight: 400;
  text-align: center;
}