.join {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-Y: auto;
}

.join-title {
  font-family: 'Open Sans', sans-serif;
}

.join-title h1 {
  margin: 0.5rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.join-title h2 {
  margin: 0.5rem 0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.join-banners {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.join-body-p {
  text-align: justify;
  line-height: 1.5rem;
}

.join-body {
  display: flex;
}

.join-section {
  margin: 2rem;
  flex: 1 0 0;  
}