.battle-tag {
  display: inline-flex;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}

.battle-tag-badge {
  display: none;
}

@media (min-width: 800px) {
  .battle-tag-badge {
    padding: 0.25rem;
    height: 4rem;
    width: 4rem;
    display: block;
  }
}

.battle-tag-tag {
  padding: 1rem 1rem;
  color: #009AE4;
}

.battle-tag-label {
  padding: 1rem 1rem;
}