.raiding {
  margin: 0 1rem;
  max-height: 100%;
  overflow-Y: auto;
}

.raiding-title {
  font-family: 'Open Sans', sans-serif;
}

.raiding-title h1 {
  margin: 0.5rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.raiding-title h2 {
  margin: 0.5rem 0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}

.raiding-title h3 {
  margin: 0.25rem 0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: underline;
}

.raiding-info {
  display: flex;
  margin: 1rem 0;
}

.raiding-info-chart, .raiding-info-image {
  flex: 1 0 0;
}

.raiding-info-chart {
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  flex-direction: column;
  margin-right: 0.5rem;
}

.raiding-info-image {
  display: none;
}

@media (min-width: 1100px){
  .raiding-info-image {
    display: block;
    margin-left: 0.5rem;
    border-radius: 10px;
  }
}

.raiding-info-text-row {
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.raiding-info-text-row:nth-child(even) {
  background-color: #444;
}

.raiding-info-text-row:nth-child(odd) {
  background-color: #666;
}

.raiding-info-text-row .raiding-info-label {
  font-weight: 700;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.raiding-info-text-row .raiding-info-text {
  font-size: 0.8rem;
  text-align: right;
}

.raiding-details {
  margin: 1rem 0;
}

.raiding-details ol {
  line-height: 1.5rem;
}

.raiding-details-split {
  display: flex;
}

.raiding-details-split-column {
  flex: 1 0 0;
}

.raiding-details-p {
  text-indent: 1rem;
  line-height: 1.5rem;
}