.App {
  display: flex;
  height: 100vh;
}

@media (min-width: 1100px){
  .content {
    max-width: 1100px;
    margin: 1rem auto 1rem auto;
    border-radius: 1rem;
  }
}

.content {
  overflow: hidden;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

.content-body {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex: 1 1 0;
}
