body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

.font-white {
  color: white !important;
}

.font-light {
  color: #c0cfd5 !important;
}

.font-smoke {
  color: #444444 !important;
}

.bg-white {
  background-color: white !important;
}

.bg-smoke {
  background-color: #444444 !important;
}

.bg-paper {
  background-color: #c0cfd5 !important;
}