.home {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
}

.landing {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.landing-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-right {
  /* background-image: linear-gradient(to bottom, rgba(67, 132, 150, 0.6), rgba(67, 132, 150, 0)); */
}

@media (min-width: 1100px) {
  .landing-right {
    /* background-image: linear-gradient(to top right, rgba(67, 132, 150, 0), rgba(67, 132, 150, 0.6)); */
  }
}


.landing-right-text {
  color: white;
  height: 100%;
  text-align: center;
  margin: 1rem;
}

@media (min-width: 1100px) {
  .landing-right-text {
    margin: 4rem 10% 0 50%;
    width: 40%;
    text-align: left;
  }
}

.home-body {
  flex: 1 0 0;
}

.landing-image-wrapper {
  display: inline-block;
  position: relative;
  right: -50%;
}

.landing-image {
  height: 100vh;
  position: relative;
  left: -50%;
}